<h1>Body Mass Index</h1>
<div class="row">
  <h4> Weight: <%= @body_mass.weight %></h4>
  <h4> Height: <%= @body_mass.height %></h4>
  <br />
  <h3 style='color:red'> Body Mass Index: <%= @body_mass.bmi %></h3>
</div>
