<h1>Body Mass</h1>

<h3>
  <p>
    This is the home page for the Body Mass Index, you will be able to get your Body Mass Index based on
    your current weight (Kilograms) and your height (meters).
  </p>
</h3>
